fly.toml
/node_modules
*.log
.DS_Store
.env
/.cache
/public/build
/build
.git
.github
test
.claude
.flox
deno.lock
*.md
.prettierrc
.licenserc.yaml
.gitattributes
playwright.config.ts
eslint.config.mjs
vercel.json
